* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(images/table.jpg) center / cover no-repeat fixed;
}

h1 {
    margin-bottom: 10px;
    font-size: 3rem;
    color: goldenrod;
}

#message-el {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: white;
    font-style: italic;
}

p {
    margin: 5px;
    font-size: 1.2rem;
    color: white;
}

#start-btn {
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: 700;
    color: #016f32;
    width: 150px;
    background: goldenrod;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}